body {
  font-family: monospace;
  background-image: url('../img/Robot_City.jpg');
  background-position: top;
  color:papayawhip;
}

#title {
  text-align: center;
  text-decoration: underline;
}

#instructions {
  text-align: center;
  font-size: x-large;
}

#result-div {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}