body {
  font-family: monospace;
  background-image: url('../img/Robot_City.jpg');
  background-position: top;
  color:limegreen;
}

#title {
  text-align: center;
  text-decoration: underline;
}

#instructions {
  text-align: center;
  font-size: x-large;
}

#name-div, #result-div {
  display: none;
  text-align: center;
  color: white;
  font-size: x-large;
  font-weight: bold;
}